/*
=============== 
Variables
===============
*/

:root {
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

/*
=============== 
Stripe Styles
===============
*/
.nav {
  background: #fff;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.nav-center {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.nav-logo {
  width: 130px;
  margin-left: 20px;
  object-fit: contain;
}

.toggle-btn {
  margin-right: 20px;
}

.cart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  height: 5rem;
}

.right__item {
  display: flex;
  align-items: center;
  height: 100%;
}

.btn:hover {
  background: hsl(360, 67%, 44%);
}

.nav-links {
  display: none;
  height: 100%;
}

.nav-container {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.amount-container {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: hsl(360, 71%, 66%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.amount-container p {
  color: #fff;
  font-size: 10px;
}

.signin-btn {
  font-size: 0.6rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  color: white;
  background: hsl(360, 71%, 66%);
  cursor: pointer;
  transition: all 0.3s linear;
  outline: none;
  margin-right: 10px;
}

.signin-btn:hover {
  background: rgb(248, 127, 127);
}

.active {
  color: yellow;
}
/* nav media query */
@media screen and (min-width: 800px) {
  .right__item {
    display: flex;
  }
  .toggle-btn {
    margin-right: 20px;
    display: none;
  }

  .signin-btn {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border-color: transparent;
    color: white;
    background: hsl(360, 71%, 66%);
    cursor: pointer;
    transition: all 0.3s linear;
    outline: none;
  }
  .cart {
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }
  .amount-container {
    position: absolute;
    top: -0.5rem;
    right: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .amount-container p {
    font-size: 15px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 18px;
    height: 100%;
  }
  .link-btn {
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}
